@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-black font-sans;
}

h1, h2 {
  @apply text-center font-bold;
}

.gradient-text {
  background: linear-gradient(to right, #ff4d4d, #ff9900, #33ccff, #66ff66);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 6s ease infinite;
  background-size: 300% 300%;
}

.shadow-gold {
  text-shadow: 2px 2px 4px #FFD700;
}
